@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

html, body {
  height: 100%;
  background-color: #182C28;
  font-size: 1.1em;
}
#container {
  background-color: #182C28;
  min-height: 100%;
}

p {
  text-indent: 1.5em;
}

h2 {
  font-family: 'Cutive Mono', monospaced;
  letter-spacing: -0.05rem;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  font-size: 190%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#opening-text {
  text-align: center;
  margin: 0 auto;
  font-size: 110%;
}
.ploverTitle {
  text-align: center;
}
.ploverTitle .btn {
  color: #182C28;
}
@media(min-width: 700px) {
  .ploverTitle .btn {
    width: 10em;
    padding: 0.25em;
  }
}
.ploverTitle h1 {
  margin: 0;
  padding: 1% 5%;
  margin: 0;
  text-align: center;
  font-size: 4.5em;
  font-family: 'Patua One', sans-serif;
}

#github-stars {
  position: absolute;
  top: 0.6rem;
  right: -1rem;
}

hr {
  width: 80%;
  margin: 0 auto;
  border-color: #182C28;
}

.ploverLogo {
  width: 30%;
  max-width: 180px;
  margin: 0 auto -100px;
}
#PloverIcon {
  margin-top: 1em;
}
.ploverLogo > svg {
  width: 100%;
  position: relative;
  z-index: 100;
}
.plover-nav {
  margin: 0 auto;
}

#sectionTwo {
  position: relative;
  background: url("/images/bgnoise.png") #fff;
  width: 95%;
  max-width: 60em;
  margin: 0 auto 0.5em;
  padding-top: 80px;
  padding-bottom: 1rem;
}

#sectionTwo .panel-body {
  padding: 1em 2.5em;
}
@media(max-width: 600px) {
  #sectionTwo .panel-body {
    padding: 10px;
  }
  hr {
    width: 100%;
  }
}

.textBlock {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.ploverBtns {
  margin: 0 auto;
  margin-top: 1.5em;
  text-align: center;
}
.colOne, .colTwo {
  display: inline-block;
  text-align: center;
}
.ploverBtns .btn {
  font-size: 1.1rem;
}

/** Links */
a:hover {
    text-decoration: underline;
    color: #bf9000;
}
a:visited {
    text-decoration: none;
    color: #c3823a;
}
a:link {
    text-decoration: none;
    color: #c3823a;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.hero p {
  flex: 2;
}
.hero div {
  flex: 1;
  text-align: center;
}
img {
  max-width: 80vw;
  max-height: 20rem;
  /* Negative margin allows the shadow to clip other elements a little. */
  margin: -0.5rem auto -1rem auto;
}
.hero-image + h2 {
  margin-top: 0rem;
}

/* Bootstrap overrides */
.btn-success, .btn.btn-success, .btn.btn-success:visited { color: white; background-color: #568078; border-color: #2d433f; }

.btn-success:focus, .btn.btn-success:focus { color: white; background-color: #42615b; border-color: #192422; }

.btn-success:hover, .btn.btn-success:hover { color: white; background-color: #42615b; border-color: #192422; }

a.btn.btn-success:active, .btn-success:active { color: white; background-color: #2d433f !important; border-color: #040606 !important; }

