# Cache.
/.cache/

# Setuptools.
/build/
/dist/
/*.egg-info/

# Plover: when run in portable mode from source.
/*.json
/*.rtf
/plover.cfg
/plover.log
/steno-notes-*.txt
/strokes.log

# Pytest.
/.pytest_cache/

# Python.
__pycache__/

# Tox.
/.tox/

# VSCode
/.vscode/

# vim: ft=cfg
