# Cache.
/.cache/

# Setuptools.
/build/
/dist/
/*.egg-info/

# Plover: when run in portable mode from source.
/*.json
/*.rtf
/plover.cfg
/plover.log
/steno-notes-*.txt
/strokes.log

# Plover: build artifacts.
news_draft.md
notes.md

# Pytest.
/.pytest_cache/

# Python.
__pycache__/

# Tox.
/.tox/

# VSCode
/.vscode/

# macOS
.DS_Store

# Virtual environments
/.venv/
/venv/


# vim: ft=cfg
