language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx

before_install:
  - |
    case "$TRAVIS_OS_NAME" in
    osx)
      brew update &&
      brew install python --framework &&
      brew link --overwrite python &&
      brew install wxpython &&
      true
      ;;
    linux)
      sudo apt-add-repository -y ppa:adamwolf/kicad-trusty-backports &&
      sudo apt-get update -qq &&
      sudo apt-get install -y cython libudev-dev libusb-1.0-0-dev python-dev python-wxgtk3.0 python-xlib &&
      true
      ;;
    esac &&
    python setup.py write_requirements &&
    pip --disable-pip-version-check --timeout=5 --retries=2 install --upgrade --user -r requirements.txt &&
    # We need to downgrade setuptools for py2app to work correctly...
    pip --disable-pip-version-check --timeout=5 --retries=2 install --upgrade --user 'setuptools==19.2' &&
    pip --disable-pip-version-check list &&
    true

install: true

script:
  - git fetch --unshallow
  - python setup.py patch_version
  - python setup.py test
  - |
    case "$TRAVIS_OS_NAME" in
    osx)
      make -C osx &&
      true
      ;;
    linux)
      python setup.py bdist_egg &&
      python setup.py bdist_wheel &&
      true
      ;;
    esac

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: vBKvc1uV688/Jn2bYvlFYrhVb+1X9t8iCC4LN87cZvEFNe7DEhSU2DZhaYceTYVZGKNjSzT1ScGrAGc0IHVN9azor3syDJlZ5LvSjiN/sj83MDe0TfPURgYdd5UaLDKsfknd0fMOgJyUiDadNS7il0Yk3Tmu+bw0cLZr24QzHUFfI3xIeP6EfByPrO4yGctykTmhNPpMKqpBJv4Y4qfYkMQmujgR09nn+B6pkgVekl44+zScS/ivHy4Rgdyp1pakyiPGJf4zI5VG+BcW6SR3cJ8JF2h5oEM3S6gk0yDpw2WgfaA2c0qWsIHhy5fIYd7HivJjGpPsEEOOCm671QoLK66JZbFI2l6nP62nf01vxuQLX8sQIlOh6YSC17ML3UWJkrV3VSMvo31vznKsr8oiTDYFyaheOKc1wMj28StDI5oXfyyLEBA0RH6gYjRwTGblEVc2CWg9T3CgJb9RY1s8CyFEHChoj7RlJ6oeJpeiAPpsnUNPT6RIYrjaqVt/jnWAjBxmEOlWR3xPSZXVla5E3NwcB8CjXqxe7ZNU2AzQ/vcbSDtRCOvnbqV7CvUwh4ET02h4jr34SSYUyM8Zcnkw9RvHSy5vJj/xq2r3stB+xdxsPkLjybeTMaGeCNVJ9FKImgFgW5E8mzx9Hm3x1ECjDhtYI1g8g1kE9qmww7JaiOU=
  draft: true
  file_glob: true
  file:
    - "dist/*.dmg"
    - "dist/*.egg"
    - "dist/*.whl"
  on:
    tags: true
