# plover-plugins-manager
docutils==0.14
pip==9.0.1
plover-plugins-manager==0.5.11
Pygments==2.2.0
wheel==0.30.0
# plover-treal
hidapi==0.7.99.post21
plover-treal==1.0.1

# vim: ft=cfg commentstring=#\ %s list
