# plover-plugins-manager
bleach==3.1.4
cffi==1.14.0
cmarkgfm==0.4.2
docutils==0.16
pip==20.0.2
pkginfo==1.5.0.1
plover-plugins-manager==0.5.14
pycparser==2.20
Pygments==2.6.1
readme-renderer==25.0
requests-cache==0.5.2
requests-futures==1.0.0
requests==2.23.0
webencodings==0.5.1
wheel==0.34.2
# plover-treal
hidapi==0.7.99.post21
plover-treal==1.0.1

# vim: ft=cfg commentstring=#\ %s list
