# plover-plugins-manager
bleach==3.1.4
cffi==1.11.5
cmarkgfm==0.4.2
docutils==0.14
pip==18.1
plover-plugins-manager==0.5.13
pycparser==2.19
Pygments==2.2.0
readme-renderer==24.0
webencodings==0.5.1
wheel==0.32.2
# plover-treal
hidapi==0.7.99.post21
plover-treal==1.0.1

# vim: ft=cfg commentstring=#\ %s list
