appdirs==1.4.4
appnope==0.1.2
attrs==24.3.0
Babel==2.9.1
bleach==4.1.0
build==0.7.0
cattrs==25.1.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
check-manifest==0.47
click==8.0.3
click-default-group==1.2.2
cmarkgfm==0.6.0
colorama==0.4.4
cryptography==35.0.0
dmgbuild==1.5.2
docutils==0.18
ds-store==1.3.0
evdev==1.7.1
hidapi==0.11.0.post2
idna==3.3
importlib-metadata==4.8.1
incremental==21.3.0
iniconfig==1.1.1
jeepney==0.7.1
Jinja2==3.0.2
keyring==23.2.1
mac-alias==2.2.0
MarkupSafe==2.0.1
mock==4.0.3
packaging==25.0
pep517==0.12.0
pip==21.3.1
pkginfo==1.12.1.2
plover-plugins-manager==0.7.9
plover-stroke==1.1.0
plover-treal==1.0.1
pluggy==1.0.0
py==1.10.0
pycparser==2.20
Pygments==2.10.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
pyparsing==3.0.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
pytest==6.2.5
pytest-qt==4.0.2
python-xlib==0.31
pytz==2021.3
PyYAML==6.0
readme-renderer==30.0
requests==2.32.3
requests-cache==1.2.1
requests-futures==1.0.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rtf-tokenize==1.0.0
SecretStorage==3.3.1
setuptools==58.3.0
six==1.16.0
toml==0.10.2
tomli==1.2.2
towncrier==24.8.0
tqdm==4.62.3
twine==3.7.0
url-normalize==1.4.3
urllib3==1.26.18
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.0
zipp==3.6.0

# vim: ft=cfg commentstring=#\ %s list
