Source: plover
Maintainer: Benoit Pierre <benoit.pierre@gmail.com>
Section: utils
Priority: optional
Build-Depends:
	debhelper (>= 7.4.3),
	pyqt5-dev-tools,
	python3,
	python3-appdirs,
	python3-babel,
	python3-hid,
	python3-pkg-resources,
	python3-pytest,
	python3-serial (>= 2.7),
	python3-setuptools (>= 20.7.0),
	python3-setuptools-pyqt,
	python3-setuptools-scm,
	python3-xlib (>= 0.16),
Standards-Version: 3.9.5
X-Python3-Version: >= 3.4

Package: plover
Architecture: all
Homepage: http://plover.stenoknight.com/
Depends:
	${python3:Depends},
	python3-appdirs,
	python3-dbus,
	python3-hid,
	python3-pkg-resources,
	python3-pyqt5 (>= 5.5),
	python3-serial (>= 2.7),
	python3-xlib (>= 0.16),
Description: ('Open Source Stenography Software',)
 Plover is a free open source program intended to
 bring realtime stenographic technology not just to stenographers, but also to
 hackers, hobbyists, accessibility mavens, and all-around speed demons.
