[Desktop Entry]
Type=Application
Terminal=false
Exec=plover
Name=Plover
Icon=plover
Categories=Utility;Accessibility;
Comment=stenographic input and translation
Keywords=steno;input;keyboard;
X-Unity-IconBackgroundColor=#414F4C
